* {
    margin: 0;
    padding: 0;
  }

:root {
    --main-border: 3px solid;
    --main-border-radius: 1rem;
}

body {
    box-sizing: border-box;
    padding: 0;
    background-color: bisque;}


.search-form {
    min-width: 20rem;
    max-width: 23.5rem;
    margin: 0 auto;
    display: flex; 
    gap: 2rem;
    flex-direction: column;
    border:  var(--main-border);
    border-radius: var(--main-border-radius);  
    padding: 1rem;
    background-color: #ccd1d1;
}

.heading {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.label-span-img {
    width: 5rem;
    margin: -1.5rem -.5rem;
}

.search-form-label {
    text-align: center;
 
}

.search-form-input {
    font-size: 1.5rem;
    padding: .50rem 1.5rem; 
    border:  var(--main-border);
    border-radius: var(--main-border-radius);
    background-color: inherit;
    transition: all .2s;   
}

.search-form-input:focus {
    background-color:  #f8f9f9; 
    outline: none; 
}


.search-form-button {
    align-self: flex-end;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgb(159, 174, 224);
    border:  var(--main-border);
    border-radius: var(--main-border-radius);
    transition: all .2s;  
}

.search-form-button:hover {
    background-color: #d6eaf8;
}

.search-form-button:active {
    color: orangered;
}

.weather-display {
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.5rem;
    border:  var(--main-border);
    border-radius: var(--main-border-radius); 
}

.weather-display-img {
    width: 5rem;
}

.weather-display-text {
    font-size: 1.5rem;
}

.weather-display-text:not(:last-child) {
    margin-bottom: .5rem;
}

.error-text {
    color: red;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    body {
        padding: 1rem 0;
    }
    .search-form-button {
        font-size: 2rem;
        font-weight: 600;  
    }

    .heading {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: .75rem;
    }
    
    .weather-display {
        flex-direction: row;    
    }

    .weather-display-img {
        width: 10rem;
    }

    .search-form {
        max-width: 30rem;
        padding: 2rem;
    }
}

/* -------------------LOADER--------------------------- */

.loader.is-hidden {
    display: none;
  }

  .loader{
    margin: 0 auto;
    display: block;
    position: relative;
    height: 20px;
    width: 140px;
    background-image: 
    linear-gradient(#FFF 20px, transparent 0), 
    linear-gradient(#FFF 20px, transparent 0), 
    linear-gradient(#FFF 20px, transparent 0), 
    linear-gradient(#FFF 20px, transparent 0);
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 0 0, 40px 0, 80px 0, 120px 0;
    animation: pgfill 1s linear infinite;
  }
  
  @keyframes pgfill {
    0% {   background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    25% {   background-image: linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    50% {   background-image: linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    75% {   background-image: linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    100% {   background-image: linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0); }
  }
  